[Unit]
Description=Daemon populating etcd with lxd infos
Requires=network.target remote-fs.target systemd-journald-dev-log.socket
After=network.target remote-fs.target systemd-journald-dev-log.socket
ConditionPathExists=/etc/lxd2etcd.yml

[Service]
Type=simple
PIDFile=/run/lxd2etcd.pid
User=lxd2etcd
Group=lxd2etcd
ExecStart=/usr/bin/lxd2etcd -c /etc/lxd2etcd.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
